.eventHistory {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .eventTitle{
    color: white;
    font-weight: 700;
    font-size: 40px;
    justify-content: center;
    margin: 0 auto; /* Ensure title stays centered */
  }


  .backButton{
    border-radius: 10px;
    padding:10px;
    padding-left:14px;
    padding-right:18px;

    color: white;
    background-color: white;
    font-weight: 700;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 30px;
  }

  .memberCard{
    text-align: left;
    width:fit-content;

  }

  .bodyCard{

    width: 90%;
    color:white;
  }

  .body{
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
  }

  .textCard{
    margin: 0px;
    padding-right: 20px;
    font-weight: 500;
    color: #1D2F5D;
    font-size: 24px;

  }
  
  .dropdownImg{

    color:black;
    margin-left: auto; 
  }

  .dropdownImg img {
    padding-left: 10px;
}

.noMembers{

  background-color: gray;
  width:auto;

}

.noMembers {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  margin-bottom:40px;
}

.nomemberText{
  width: 90%;
  color:black;
  font-weight:700;
  font-size: 30px;
  padding-top:20px;
  padding-bottom:20px;
}

.titleBody{
  display: flex;
  flex-direction:row;
  align-items: center;
  
}
.emailAllButton{
  border-radius: 0.61538rem;
  background: #FBB135;
  border: none;
  color:#000000;
  width: 220px;
  height: 54px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 9.846px;
  margin: 10px;  
  appearance: none; /* Remove default styling */
  text-decoration: none; /* Remove underline */
  justify-content: center;
  display:flex;
  align-items: center;
}
