.container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.background {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;

  /* debugging */
  /* background-color: yellow; */
}

.backgroundLogo {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 5vh;
  left: 0;
  height: 90%;
  object-fit: contain;
  justify-self: center;
  align-self: center;
  opacity: 25%;
}

.pageTitle {
  width: 50vw;
  padding: 10px;
  line-height: 1.6;
  font-family: "Helvetica", sans-serif;
  font-size: 36pt;
  color: white;

  /* debugging */
  /* background-color: black; */
}

.resetForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-bottom: 2%;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.95);
}

.formTitle {
  font-family: "Helvetica", sans-serif;
  font-size: 32pt;
  font-weight: 700;
  color: #1d2f5d;
  margin-top: 3vh;
  margin-bottom: 0;

  /* debugging */
  /* background-color: purple; */
}

.formSubtitle {
  /* TODO: complete */
  font-family: "Helvetica", sans-serif;
  font-size: 16pt;
  color: black;
  margin-top: 0;
  margin-bottom: 5vh;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin-bottom: 2%;

  border-radius: 16px;
  border: 2pt solid black; /*width style color*/
  background-color: white;

  /* debugging */
  /* background-color: bisque; */
}

.newPasswordLabel,
.repeatPasswordLabel {
  margin: 0;
  margin-bottom: 1%;
  margin-left: 7.5%; /* 1/2 the width of the inputWrapper */
  align-self: flex-start;
  font-family: "Helvetica", sans-serif;
  font-size: 20pt;
  font-weight: 500;
  color: black;
}

.inputWrapper input {
  flex: 1;
  height: 100%;
  padding: 1.2vh 0;
  margin: 0 1vw;
  font-family: "Helvetica", sans-serif;
  font-size: 18pt;
  color: black;
  border: none;
  outline: none;
}

.revealButton {
  align-self: center;
  margin-right: 1vw;
  z-index: 1;
  height: 30px;
  width: 30px;
  padding: 0;
  border: none;
}

.revealIcon {
  align-self: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
  border-width: 0;
  margin: 0;
}

.errorMessage {
  color: #fa1c1c;
}

.resetButton,
.backButton {
  width: 85%;
  padding: 15px 0;
  margin: 10px;
  margin-bottom: 0;
  border-radius: 16px;
  border: none; /* Remove the default button border */
  outline: none; /* Remove the focus outline */
  box-shadow: none;
  font-family: "Helvetica", sans-serif;
  font-size: 24pt;
  font-weight: 600;
  color: white;
  background-color: #1d2f5d;
  z-index: 2;
}

.resetButton:hover,
.backbutton:hover {
  cursor: pointer;
}

.inactive {
  background-color: #374d83;
}

.inactive:hover {
  cursor: not-allowed;
}

.break {
  background-color: black;
  height: 5px;
  width: 20%;
  margin: 2% 0;
}

.backButton {
  padding: 10px 0;
  margin-bottom: 5%;
  border-radius: 16px;
  font-size: 20pt;
  font-weight: 600;
  color: black;
  text-decoration: none;
  background-color: #bbcfff;
}
