.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 60px auto 0;
  border-radius: 14pt;
  padding: 2.5em;
  gap: 30px;
  width: 75vw;
}

.title {
  font: bold 40px "Helvetica Neue", Helvetica;
  color: #1d2f5d;
  margin: 10px 0 20px 10px;
}

.header {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between;
}

.rightaligned {
  display: flex; /* Change to flex */
  align-items: center;
}

.header select,
.header input[type="search"],
.submit {
  display: inline-block;
  width: 200px;
  font-size: 1.1em;
  height: 35px;
  border: 2px solid #1d2f5d;
  padding: 0 10px;
  box-sizing: border-box;
  vertical-align: middle;
}

.header select {
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

.submit {
  color: white;
  background-color: #1d2f5d;
  font-weight: bold;
  border-width: 0.2em;
  width: 100px;
}

.line {
  border: 2px solid #1d2f5d;
  width: 100%;
}

.pageselection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pagenumbers {
  flex-grow: 1;
  font: bold 20px "Helvetica Neue", Helvetica;
  color: #1d2f5d;
  text-align: center;
}

.olderarticles {
  background-color: #fbb135;
  width: 250px;
  border: 2px solid #fbb135;
  height: 35px;
  font: bold 22px "Helvetica Neue", Helvetica;
  color: #1d2f5d;
  margin-left: auto;
  margin-right: 10px; /* Adjusted margin to match other elements */
}

.pagenumbers,
.olderarticles {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center; /* Center the items horizontally */
  }

  .rightaligned {
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: center; /* Center the items in the rightaligned div */
  }

  .header input[type="search"],
  .submit {
    width: calc(100% - 20px); /* Full width minus padding */
    margin: 10px 5px; /* Add spacing between elements */
  }

  .olderarticles {
    width: calc(100% - 20px); /* Full width minus padding */
    margin: 10px 5px; /* Add spacing between elements */
  }
}
