.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  justify-self: center;
  border-radius: 16px;
  font-size: 100%;

  background-color: #1d2f5d;
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.container h2 {
  display: flex;
  flex: 1;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.75em;
  font-weight: bold;
  text-align: center;
  color: white;

  justify-self: center;
  align-self: center;
  /* background-color: green; */
}

.fullCarousel {
  display: flex;
  flex: 18;
  flex-direction: column;
  border-radius: 15px;

  /* background-color: rgba(255, 255, 255, 0.8); */
}

.carousel {
  position: relative;
  flex: 9;
  border-radius: 16px;
  height: 60vh;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* padding: 0 2%; */

  /* background-color: lime; */
}

.carouselImage {
  display: flex;
  height: 55vh;
  min-width: 70vw;
  max-width: 70vw;

  margin: auto;
  /* padding-left: 2em;
  padding-right: 2em; */

  border-radius: 16px;
  /* background-color: navy; */
}

.image {
  display: flex;
  height: 100%;
  max-width: 100%;
  object-fit: cover;

  margin: auto;
  justify-self: center;
  align-self: center;

  border-radius: 25px;
}

.slideDirection {
  display: flex;
  flex: 1;
  margin: auto;

  /* background-color: pink; */
}

.arrow {
  width: 100%;
  height: 100%;
}

.left,
.right {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  color: #33363f;

  background-color: #fbb135;
}

.left {
  margin-right: 0.25em;
}

.right {
  margin-left: 0.25em;
}

.indicator {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  gap: 1%;
  color: black;
  border-color: black;
  border-width: 2px;

  /* background-color: black; */
}

.dot {
  background-color: #fbb135;
  width: 0.7vw;
  height: 0.7vw;
  border-radius: 50%;
}

.active {
  background-color: #f6ff00;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  flex: 1;

  /* background-color: cyan; */
}

.quote,
.quoteSrc {
  flex: 1;
  font-size: 20pt;
  font-family: "Helvetica", sans-serif;
  flex-wrap: wrap;
  border-radius: 16px;
  overflow-y: auto;
  max-height: 30vh;
  margin: 0 10%;
  text-align: center;

  /* background-color: lavender; */
}

.quote {
  font-style: italic;
  color: #fbb135;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.quoteSrc {
  color: white;
  margin-bottom: 2.5%;
}

/* Media queries for smaller screens */

@media only screen and (max-width: 800px) {
  .container {
    height: 100vh;
    width: 100%;
  }

  .container h2 {
    margin: 10%;
    font-size: 2em;
  }

  .carousel {
    height: 40vh;
    padding: 0;
    padding-right: 0;
  }

  .indicator {
    gap: 4%;
    margin-bottom: 0;
  }

  .dot {
    height: 3vw;
    width: 3vw;
  }

  .quoteContainer {
    flex: 5;
    display: inline;
  }

  .quote,
  .quoteSrc {
    font-size: 14pt;
  }

  .quoteSrc {
    margin: 2% 10% 5% 10%;
  }
}
