.footer {
  background-color: #1d2f5d;
  width: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.follow, .contact {
  flex: 1;
  margin: 10px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.contact div {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
}

.divider {
  border-bottom: 3px solid #F0C30F;
  margin: 20px 0;
}

.copyright {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
  }

  .follow, .contact {
    margin: 0;
  }

  .contact div {
    text-align: center;
  }
}
