.container {
  width: 100%;
  height: fit-content;

  font-size: 100%;

  background-color: white;
}

.container {
  width: 100%;
  height: fit-content;
  font-size: 100%;
  background-color: white;
  margin-bottom: 2rem; /* Adjust the margin-bottom as needed */
}

.offset {
  margin-left: 3%;
  margin-right: 3%;
}

.title {
  padding-top: 0.5%;
  margin: 1.5% 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  color: #1d2f5d;

  /* background-color: green; */
}

.upcomingEvents .title {
  padding: 0;
  height: fit-content;
  margin: 1% 0;
}

.pastEvents,
.upcomingEvents {
  display: flex;
  flex-direction: column;
}

.pastEventsCards,
.upcomingEventsCards {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  /* gap: 1%; */

  /* background-color: yellow; */
}

.upcomingEventsCards {
  margin: auto 0;
  /* display: block; */
}

.viewAllArticles {
  display: inline-block; /* Ensure it only takes up the necessary space */
  padding: 15px 30px; /* Increase padding for a larger button */
  margin: 1% auto; /* Simplify margin */
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.6em; /* Increase font size */
  font-weight: bold;
  color: #1d2f5d;
  border: 2px solid #1d2f5d; /* Add a solid border for clarity */
  border-radius: 5px; /* Add some rounding for a more modern look */
  background-color: white;
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline for the link */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
}

.viewAllArticles:hover {
  background-color: #1d2f5d; /* Change background color on hover */
  color: white; /* Change text color on hover */
  border-color: #bbcfff; /* Change border color on hover */
}

.break {
  width: 15em;
  height: 10px;

  background-color: #fbb135;
}

.break2 {
  display: flex;
  flex: 0.15;

  background-color: #fbb135;
}

.allEventsButton {
  width: fit-content;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0.4em 3em;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  color: #1d2f5d;

  border: none;
  border-radius: 16px;
  background-color: #fbb135;
}


.divider {
  border-bottom: 10px solid #F0C30F; /* Yellow underline */
  margin: 20px 0; /* Adjust margin as needed */
}

.blogSection {
  display: flex;
  align-items: center;
}

.viewBlogsLink {
  flex: 1;
  /* Styles for the VIEW BLOGS link */
}

/* Apply these styles to the container that holds the picture */





@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 2em;
    margin: 4% 0;
  }

  .upcomingEvents .title {
    margin: 5% 0;
  }

  .pastEventsCards,
  .upcomingEventsCards {
    flex-direction: column;
    gap: 5%;
    align-content: space-between;
    justify-content: space-between;
  }

  .viewAllArticles {
    margin-top: 4%;
    margin-bottom: 10%;
  }

  .break2 {
    min-height: 0.25em;
    width: 75%;
    margin: 5% auto;
  }

  .allEventsButton {
    margin-bottom: 8%;
  }
}
