.container {
  width: 100%;
  height: fit-content;

  font-size: 100%;

  background-color: white;
}

.container {
  width: 100%;
  height: fit-content;
  font-size: 100%;
  background-color: white;
  margin-bottom: 2rem; 
}

.offset {
  margin-left: 3%;
  margin-right: 3%;
}

.title {
  padding-top: 0.5%;
  margin: 0.01% 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.4em;
  font-weight: 700;
  color: #1d2f5d;

}

.upcomingEvents .title {
  padding: 0;
  height: fit-content;
  margin: 1% 0;
}

.pastEvents,
.upcomingEvents {
  display: flex;
  flex-direction: column;
}

.pastEventsCards,
.upcomingEventsCards {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

.upcomingEventsCards {
  margin: auto 0;

}

.viewAllArticles {
  display: inline-block; 
  padding: 15px 30px;
  margin: 1% auto; 
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.9em; 
  font-weight: bold;
  color: white;
  border: 2px solid white; 
  border-radius: 5px; 
  background-color: #1d2f5d;
  text-align: center; 
  text-decoration: none; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

.viewAllArticles:hover {
  background-color: white; 
  color: #1d2f5d;
  border-color: #bbcfff;
}

.break {
  width: 15em;
  height: 10px;

  background-color: #fbb135;
}

.break2 {
  display: flex;
  flex: 0.15;

  background-color: #fbb135;
}

.allEventsButton {
  width: fit-content;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0.4em 3em;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  color: #1d2f5d;

  border: none;
  border-radius: 16px;
  background-color: #fbb135;
}


.divider {
  border-bottom: 10px solid #F0C30F;
  margin: 20px 0;
}

.blogSection {
  display: flex;
  align-items: center;
}

.viewBlogsLink {
  flex: 1;
}






@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 2em;
    margin: 4% 0;
  }

  .upcomingEvents .title {
    margin: 5% 0;
  }

  .pastEventsCards,
  .upcomingEventsCards {
    flex-direction: column;
    gap: 5%;
    align-content: space-between;
    justify-content: space-between;
  }

  .viewAllArticles {
    margin-top: 4%;
    margin-bottom: 10%;
  }

  .break2 {
    min-height: 0.25em;
    width: 75%;
    margin: 5% auto;
  }

  .allEventsButton {
    margin-bottom: 8%;
  }
}
