.container {
  width: 32%;
  height: 35%;

  font-size: 100%;
  box-shadow: 1px 1px 10px 1px #1d2f5d;

  background-color: #e2ebff;
}

.picture {
  width: 100%; /* Set the image width to 100% of its container */
  object-fit: cover; /* Scale the image to cover its entire container */
}

.text {
  margin: 0 5%;
  width:auto;
  justify-content: center;
  overflow: hidden;
  word-wrap: break-word; /* or overflow-wrap: break-word */
  overflow-wrap: break-word;
}

.name {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #1d2f5d;
  margin-bottom:0px;
}

.author {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-top: -3%;
}

.description {
  margin-top:5px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
  width: 345px; 
  height: 110px;
  overflow: hidden; 
}

.learnMore {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 10px 0;
  margin: 2% auto;
  border-radius: 10px;
  border: none;

  justify-self: center;
  align-self: center;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.5em;
  color: white;

  background-color: #1d2f5d;
  
}

.learnMore:focus, .learnMore:hover{
  background-color:#fbb135;;
  color:white;
}

@media only screen and (max-width: 800px) {
  
  .container {
    width: 95vw;
    margin-bottom: 5%;
  }



  .description {
    line-height: 1.5em;
    font-weight: 500;
  }

  .learnMore {
    margin-bottom: 10%;
  }
}
