.editing {
  background-color: rgb(210, 210, 245);
}

.rowinput {
  display: flex;
  flex: 1;
  width: min-content;
  block-size: min-content;
}

.editing input {
  display: flex;
  flex: 1;
  text-align: center;
  justify-self: center;
  box-sizing: content-box;
  width: fit-content;
}
