.container {
  width: 48%;
  height: 35%;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}

.name {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #1d2f5d;
}

.signUp {
  width: 10em;
  padding: 10px 0;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #1d2f5d;

  border-radius: 5px;
  border: 2px solid #1d2f5d;
  background-color: white;
  cursor: pointer; /* Adding cursor pointer for better UX */

}


.signUp:hover, .signUp:focus {
    background-color: #1d2f5d; /* Change background color on hover and focus */
    color: white; /* Change text color on hover and focus */
  }


@media only screen and (max-width: 800px) {
  .container {
    width: 95vw;
    height: fit-content;
  }

  .signUp {
    margin-bottom: 5%;
  }
}
