.image-upload-button {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.image-upload-button:hover {
  background-color: #0066ff;
}

/* Hide the file input */
.image-upload-button input[type="file"] {
  display: none;
}