:root {
  /* variables */
  --gs-blue: #1d2f5d;
}

* {
  /* font-family: Inter; */
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}

body {
  background-color: var(--gs-blue);
  margin: 0;
}

html {
  height: 100%;
}
