:root {
  /* variables */
  --gs-blue: #1d2f5d;
}

* {
  /* font-family: Inter; */
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}

body {
  background-color: var(--gs-blue);
  margin: 0;
}

html {
  height: 100%;
}

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
