.adminComponent {
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(/colorful.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.adminOptions {
    width: 30%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buttons {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonLink {
    width: 100%;
    height: 100%;
    margin: 15px;
}

.button {
    width: 100%;
    height: 100%;
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 400;
    border-radius: 40px;
    background-color: white;
    background-size: auto 40%; 
    background-repeat: no-repeat; 
    background-position: 15% center;
    text-align: left;
    padding: 0% 0% 0% 30%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.button:hover {
    background-color: #1d2f5d;
    color: white;
}

.edit {
    background-image: url("../images/admin/editIcon.svg");
}

.members {
    background-image: url("../images/admin/membersIcon.svg");
}

.events {
    background-image: url("../images/admin/eventsIcon.svg");
}

.email {
    background-image: url("../images/admin/emailIcon.svg");
}

.images {
    background-image: url("../images/admin/imagesIcon.svg");
}

.logo {
    width: 80%;
    height: 17%;
    margin: 25px;
}

.image {
    position: relative;
    width: 30%;
    height: 75%;
}

.adminImage {
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}