/* Login, CSS*/

.loginPage {
    border-radius: 15px;
    margin: 10px;
    background-color: #1D2F5D;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.logoImg {
    padding-top: 50px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginTitle {
    width: 300px;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.6;
    font-family: 'Helvetica', sans-serif;
    font-size: 48px;
    color: white;
    background-color: black;
}

input {
    width: 500px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    color: black;
    background-color: white;
}

.loginButton {
    width: 300px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none; /* Remove the default button border */
    outline: none; /* Remove the focus outline */
    box-shadow: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 36px;
    color: black;
    background-color: #BBCFFF;
}

.signUp {
    margin: 30px;
}

.signUpTitle {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    color: white;
}

.signUpButton {
    width: 250px;
    height: 60px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none; /* Remove the default button border */
    outline: none; /* Remove the focus outline */
    box-shadow: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    color: black;
    background-color: white;
}